<footer>
        <hr>
        <h5>License: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a> | Powered by <a href="https://pages.github.com/">GitHub Pages</a> | Not affiliated with <a href="https://hw.ac.uk">Heriot-Watt University</a>.</h5>
        <a href="https://www.linux.org/"><img src="/assets/buttons/gnu-linux.gif" alt="GNU/Linux Button"></a>
        <a href="https://getfedora.org/"><img src="/assets/buttons/fedora.gif" alt="Fedora Linux Button"></a>
        <a href="https://www.latex-project.org/"><img src="/assets/buttons/latex.gif" alt="LaTeX Button"></a>
        <a href="https://code.visualstudio.com/"><img src="/assets/buttons/vscbutton.gif" alt="VSCode/VSCodium Button"></a>
        <a href="https://www.vim.org/"><img src="/assets/buttons/vim.vialle.love.anim.gif" alt="Vim Button"></a>
        <a href="https://neovim.io/"><img src="/assets/buttons/neovim.gif" alt="Neovim Button"></a>
        <a href="https://foundation.mozilla.org/en/"><img src="/assets/buttons/mozbutd1.gif" alt="Pro-Mozilla Button"></a>
        <a href="https://firefox.com/"><img src="/assets/buttons/firefoxnow.gif" alt="Firefox Button">
        <img src="/assets/buttons/anybrowser.gif" alt="Useable with any browser">
</footer>