<header>
    <nav>
        <h1><a href="/">kgdn@github</a></h1>
        <li><a href="/about"><i class="fa-solid fa-address-card"></i> About</a></li>
        <li><a href="/projects"><i class="fa-solid fa-code"></i> Projects</a></li>
        <li><a href="/blog"><i class="fa-solid fa-square-rss"></i> Blog</a></li>
        <li><a href="/now"><i class="fa-solid fa-clock"></i> Now</a></li>
        <li><a id="theme-switcher" href="#"><i class="fa-solid fa-sun"></i></a></li>
        </ul>
    </nav>
    <hr>
</header>