---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"></script>
<p><b>{{ page.date | date_to_string }}</b> - By {{ page.author }}</p>
{{ content }}
<p><b>Tags:</b> <span>{{ page.tags }}</span>.</p>
<div class="post-nav">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% else %}
  <p class="prev">Earliest article.</p>
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% else %}
  <p class="next">Latest article.</p>
  {% endif %}
</div>
{% include giscus.html %}