---
layout: default
---
<p>If for whatever reason you want to keep up to date with the latest posts, you can subscribe to the RSS feed <a
        href="/feed.xml">here</a>.</p>
<ul class="nopoint">
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}" title="{{ post.title }}"><b>{{
            post.title }}</b></a>
            <div>
                <span>{{ post.author}} - {{ post.date | date_to_string }}</span>
            </div>
    </li>
    <p>{{ post.description }}</p>
    {% endfor %}
</ul>