---
layout: default
---
{{ content }}
<ul class="no-point">
    {% for repository in site.github.public_repositories %}
    <li>
        {% if repository.fork %}
        <i class="fa-solid fa-code-branch"></i> - <a href="{{ repository.html_url }}"
            title="{{ repository.name }}"><b>{{ repository.name }}</b></a>
        {% else %}
        <a href="{{ repository.html_url }}" title="{{ repository.name }}"><b>{{ repository.name }}</b></a>
        {% endif %}
        <div>
            {% if repository.license %}
            <span>{{ repository.language }} - {{ repository.license.name }}</span>
            {% else %}
            <span>{{ repository.language }} - No license</span>
            {% endif %}
        </div>
    </li>
    {% if repository.description %}
    <p>{{ repository.description }}</p>
    {% else %}
    <p>No description.</p>
    {% endif %}
    {% endfor %}
</ul>
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}
</div>