---
layout: default
---
{{ content }}
<ul class="nopoint">
    {% for repository in site.github.public_repositories %}
    <li>
        <a href="{{ repository.html_url }}" title="{{ repository.name }}"><b>{{ repository.name }}</b></a>
        <div>
            {% if repository.license %}
                <span>{{ repository.language }} - {{ repository.license.name }}</span>
            {% else %}
                <span>{{ repository.language }} - No license</span>
            {% endif %}
        </div>
    </li>
    <p>{{ repository.description }}</p>
    {% endfor %}
</ul>