/* cantarell-thin */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 100;
	src: local("Cantarell Thin"), local("Cantarell-Thin"), url(fonts/cantarell/cantarell-thin.woff2) format("woff2");
}
/* cantarell-regular */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 400;
	src: local("Cantarell Regular"), local("Cantarell-Regular"), url(fonts/cantarell/cantarell-regular.woff2) format("woff2");
}
/* cantarell-light */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 300;
	src: local("Cantarell Light"), local("Cantarell-Light"), url(fonts/cantarell/cantarell-light.woff2) format("woff2");
}
/* cantarell-extra-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 700;
	src: local("Cantarell Extra Bold"), local("Cantarell-ExtraBold"), url(fonts/cantarell/cantarell-extra-bold.woff2) format("woff2");
}
/* cantarell-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 700;
	src: local("Cantarell Bold"), local("Cantarell-Bold"), url(fonts/cantarell/cantarell-bold.woff2) format("woff2");
}

:root {
  --black: #000;
  --white: #fff;
  --gray-dark: #111111;
  --red: #ff0000;
  --blue: #0000ee;
}

body {
  margin: 0 auto;
  max-width: 833px;
  font-family: "Cantarell";
  background-color: var(--bg);
  color: var(--text);
}

.light {
  --bg: var(--white);
  --text: var(--black);
  --link-color: var(--blue);
  --link-color-visited: var(--blue);
}

.dark {
  --bg: var(--gray-dark);
  --text: var(--white);
  --link-color: var(--red);
  --link-color-visited: var(--red);
}

body a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

nav {
  text-align: right;
  padding: 10px 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 0;
}

nav h1 {
  float: left;
  margin: auto;
}

nav a:link {
  text-decoration: none;
  color: var(--text-color);
}

nav a:visited {
  color: var(--text-color);
}

nav a:hover {
  text-decoration: underline;
}

#theme-switcher {
  font-size: large;
}

footer {
  margin: 0 auto;
  text-align: center;
}

footer h5 {
  text-align: left;
}

.no-point {
  list-style-type: none;
  padding: 0;
}

.no-point span {
  color: gray;
}

.no-point .fork {
  color: gray;
  font-size: small;
}

.post-nav {
  display: block;
  width: auto;
  overflow: hidden;
}

.post-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.post-nav .next {
  float: right;
  text-align: right;
}

.post-nav .prev {
  float: left;
  text-align: left;
}

@media screen and (max-width: 833px) {
  header h1 {
    float: none;
    margin: 0 auto;
  }

  nav {
    float: none;
    text-align: center;
  }

  body {
    padding: 0 10px;
  }
}