
:root {
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --gray-dark: #333;
  --gray-light: #eee;
}

body {
  margin: 0 auto;
  max-width: 800px;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.light {
  --bg: var(--white);
  --text: var(--black);
  --link-color: #0000ee;
  --link-color-visited: #0000ee;
}

.dark {
  --bg: var(--black);
  --text: var(--white);
  --link-color: #0000ee;
  --link-color-visited: #0000ee;
}

a:visited {
  color: var(--link-color-visited);
}

nav {
  text-align: right;
  padding: 10px 0 
}

nav li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 0;
}

nav h1 {
  float: left;
  margin: auto;
}

nav a:link {
  text-decoration: none;
  color: var(--text-color);
}

nav a:visited {
  color: var(--text-color)
}

nav a:hover {
  text-decoration: underline;
}

#theme-switcher {
  font-size: large;
}

footer {
  margin: 0 auto;
  text-align: center;
}

.nopoint {
  list-style-type: none;
  padding: 0;
}

.nopoint span {
  color: gray;
}

.nav {
  display: block;
  width: auto;
  overflow: hidden;
}

.nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.nav .next {
  float: right;
  text-align: right;
}